@model IEnumerable<PhotoExploration.Models.AlbumViewModel>

@{
    ViewBag.Title = "Index";
}

@{
    var options = new AjaxOptions
    {
        UpdateTargetId = "newAlbum",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    };
}

<h2>Index</h2>

<div class="container">
    <div class="col-sm-12">
        <h3 class="caption">@Ajax.ActionLink("New Album", "Create", options)</h3>
        <div id="newAlbum"></div>
        <div class="loader" style="display: none"></div>
    </div>
    <div class="row" id="albumList">
        @Html.Partial("List")
    </div>
</div>