@model IEnumerable<PhotoExploration.Models.GalleryPhotoViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Gallery</h2>

@{
    var options = new AjaxOptions
    {
        UpdateTargetId = "upload",
        InsertionMode = InsertionMode.Replace,
        HttpMethod = "GET"
    };
}

<div class="container">
    <div class="col-sm-12">
        <h3 class="caption">@Ajax.ActionLink("Upload Photo", "UploadPhoto", options)</h3>
        <div class="loader" id="loader" style="display: none"></div>
        <div id="upload"></div>
    </div>
    <div class="row" id="galleryList">
        @foreach (var photo in Model)
        {
            <div class="col-sm-3">
                <a href="@string.Format($"/Gallery/Details/{photo.Id}")" class="thumbnail">
                    <h3 class="caption" id="ctr">@photo.Name</h3>
                    <img src="~/Photos/@photo.FileName" alt="@photo.Name">
                </a>
            </div>
        }
    </div>
</div>