@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo Exploration</h1>
    <p class="lead">Welcome to Photo Exploration. Check out our amazing gallery and comment on everything you like.</p>
</div>