@model PhotoExploration.Models.GalleryPhotoViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Photo Exploration</h1>
    <p class="lead">Welcome to Photo Exploration. Check out our amazing gallery and comment on everything you like.</p>
</div>

<div class="container">
    <div class="row">
        <h2>Latest Uploaded</h2>
        <div class="col-sm-12">
            @if (Model != null)
            {
                <a href="@string.Format($"/Gallery/Details/{Model.Id}")" class="thumbnail">
                    <h3 class="caption" id="ctr">@Model.Name</h3>
                    <img src="~/Photos/@Model.FileName" alt="@Model.Name">
                </a>
            }
        </div>
    </div>
</div>